.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 600px;
  max-width: 1200px;
  border-radius: 20px;
  color: #212A3E;
  background-color: #F1F6F9;
}

@media (min-width: 320px) and (max-width: 480px) {
  .App {
    width: 350px;
  }
}

